<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akvarij.ldk.main.glavna">
<uses-permission android:name="com.android.alarm.permision.SET_ALARM"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PregledFloreFaune" />
        <activity android:name=".Izracunavanje" />
        <activity android:name=".PracenjeStanjaAkvarija" />
        <activity android:name=".PracenjeFinancija" />
        <activity android:name=".Obavijesti" />
        <activity android:name="com.akvarij.ldk.main.izracuni.Litraza" />
        <activity android:name="com.akvarij.ldk.main.izracuni.Svjetlina" />
        <activity android:name="com.akvarij.ldk.main.akvarij.Nitrati" />
        <activity android:name="com.akvarij.ldk.main.akvarij.PHVrijednosti" />
        <activity android:name="com.akvarij.ldk.main.akvarij.TemperaturnaVrijednost" />
        <activity android:name="com.akvarij.ldk.main.financije.Kupljeno" />
        <activity android:name="com.akvarij.ldk.main.financije.Prodano" />
        <activity android:name="com.akvarij.ldk.main.flora_fauna.Ribe" />
        <activity android:name="com.akvarij.ldk.main.flora_fauna.Biljke" />
        <activity android:name="com.akvarij.ldk.main.financije.KupljenoPrikaz" />
        <activity android:name="com.akvarij.ldk.main.financije.KupljenoEdit" />
        <activity android:name="com.akvarij.ldk.main.financije.ListDataActivity" />
        <activity android:name="com.akvarij.ldk.main.financije.EditDataActivity" />
        <activity android:name="com.akvarij.ldk.main.financije.BZVZ" />
        <activity android:name="com.akvarij.ldk.main.obavijest.ObavijestiVoda" />
        <activity android:name="com.akvarij.ldk.main.obavijest.Obavijest1" />
        <activity android:name="com.akvarij.ldk.main.obavijest.Repeat">





        </activity>


    </application>


</manifest>